manifest {
    description = 'Convert RAW MS files with msconvert'
    author = 'Patrick Pedrioli'
}

params {
    raw_folder = 'Data/RAW'
    conv_params = ''
    monitor = false
}

process {
    cache = 'lenient'
    // Modified version of
    // chambm/pwiz-skyline-i-agree-to-the-vendor-licenses:latest to
    // allow 1001 to run wine programs
    container = 'registry.digitalproteomes.org:443/pwiz:221107'
    maxForks = 20	// Max number of parallel conversions to run
}


docker {
    enabled = true
    sudo = true
    // user must match owner or /home/user in docker container
    runOptions = '-u 1001:$(id -g)'
}

dag {
    enabled = true
    file = 'convertWithMsConvert_dag.html'
    overwrite = true
}

report {
    enabled = true
    file = 'convertWithMsConvert_report.html'
    overwrite = true
}

cleanup = true
